{% extends 'base.html' %}
{% load static %}
{% block title %}
    Contact | Page
{% endblock %}
{%block css_files%}
    <link rel="stylesheet" href="{% static 'news/contact.css' %}">
{%endblock%}
{% block content %}
    <div class="container">
        <h2 class="contact__title">Contact</h2>
        <div class="contact-form" method="POST">
             <form class="form" method="POST">
                {% csrf_token %}
                {{form.name}}
                {{form.email}}
                {{form.subject}}
                {{form.text}}
                 <button class="btn-contact">Send</button>
             </form>
        </div>
    </div>
{% endblock %}

